@if (step === 1) {
    <!-- verify email -->
    <section class="bg-main-light shadow py-5 rounded-4 text-center mx-auto w-75">
        <h1 class="h2 text-main mb-5"> Reset Password </h1>
        <form [formGroup]="verifyEmailForm" (ngSubmit)="sendReset()">
            <div class="row justify-content-start align-items-center mb-5 position-relative">
                <div class="col-2 offset-1 ps-4 text-start ">
                    <label for="email" class="text-capitalize"> email:</label>
                </div>
                <div class="col-8">
                    <input formControlName="email" type="email" id="email" class="form-control d-inline-block" 
                    [ngClass]="{
                        'is-valid': verifyEmailForm.get('email')?.valid && (verifyEmailForm.get('email')?.touched || verifyEmailForm.get('email')?.touched),
                        'is-invalid': verifyEmailForm.get('email')?.invalid && (verifyEmailForm.get('email')?.touched || verifyEmailForm.get('email')?.touched),
                    }">
                </div>
                <div class="col-8 offset-3">
                    <app-form-error-msgs [form]="verifyEmailForm" controlName="email"></app-form-error-msgs>
                </div>
            </div>
            <button type="submit" class="btn-main text-capitalize mx-auto d-block" [disabled]="isLoading || verifyEmailForm.invalid "> 
                @if (isLoading) {
                    <i class="fas fa-spinner fa-spin"></i>
                }
                @else {
                    Send
                }
            </button>
        </form>
        @if (errMsg) {
            <div class="row justify-content-center">
                <div class="alert alert-danger w-50 m-2 p-1">
                    <p class="m-0"> {{ errMsg }}</p>
                </div>
            </div>
        }
    </section>
} @else if (step === 2) {
    <!-- verify code -->
    <section class="bg-main-light shadow py-5 rounded-4 text-center mx-auto w-75">
        <h1 class="h2 text-main mb-5"> Verify Code </h1>
        <form [formGroup]="verifyCodeForm" (ngSubmit)="verifyCode()">
            <div class="row justify-content-start align-items-center mb-5 position-relative">
                <div class="col-2 offset-1 ps-4 text-start ">
                    <label for="code" class="text-capitalize">verification code:</label>
                </div>
                <div class="col-8">
                    <input formControlName="resetCode" type="text" id="resetCode" class="form-control d-inline-block" 
                    [ngClass]="{
                        'is-valid': verifyCodeForm.get('resetCode')?.valid && (verifyCodeForm.get('resetCode')?.touched || verifyCodeForm.get('resetCode')?.touched),
                        'is-invalid': verifyCodeForm.get('resetCode')?.invalid && (verifyCodeForm.get('resetCode')?.touched || verifyCodeForm.get('resetCode')?.touched),
                    }">
                </div>
                <div class="col-8 offset-3">
                    <app-form-error-msgs [form]="verifyCodeForm" controlName="resetCode"></app-form-error-msgs>
                </div>
            </div>
            <button type="submit" class="btn-main text-capitalize mx-auto d-block" [disabled]="isLoading || verifyCodeForm.invalid "> 
                @if (isLoading) {
                    <i class="fas fa-spinner fa-spin"></i>
                }
                @else {
                    Send
                }
            </button>
        </form>
        @if (errMsg) {
            <div class="row justify-content-center">
                <div class="alert alert-danger w-50 m-2 p-1">
                    <p class="m-0"> {{ errMsg }}</p>
                </div>
            </div>
        }
    </section>
} @else if (step === 3){
    <!-- reset password -->
    <section class="bg-main-light shadow py-5 rounded-4 text-center mx-auto w-75">
        <h1 class="h2 text-main mb-5"> Reset Password </h1>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="setNewPassword()">
            <div class="row justify-content-start align-items-center mb-5 position-relative" >
                <div class="col-2 offset-1 ps-4 text-start ">
                    <label for="Password" class="text-capitalize">New Password:</label>
                </div>
                <div class="col-8">
                    <input formControlName="newPassword" type="password" id="newPassword" class="form-control d-inline-block" 
                    [ngClass]="{
                        'is-valid': resetPasswordForm.get('newPassword')?.valid && (resetPasswordForm.get('newPassword')?.touched || resetPasswordForm.get('newPassword')?.touched),
                        'is-invalid': resetPasswordForm.get('newPassword')?.invalid && (resetPasswordForm.get('newPassword')?.touched || resetPasswordForm.get('newPassword')?.touched),
                    }">
                </div>
                <div class="col-8 offset-3">
                    <app-form-error-msgs [form]="resetPasswordForm" controlName="newPassword"></app-form-error-msgs>
                </div>
            </div>
            <button type="submit" class="btn-main text-capitalize mx-auto d-block" [disabled]="isLoading  "> 
                @if (isLoading) {
                    <i class="fas fa-spinner fa-spin"></i>
                }
                @else {
                    Send
                }
            </button>
        </form>
        @if (errMsg) {
            <div class="row justify-content-center">
                <div class="alert alert-danger w-50 m-2 p-1">
                    <p class="m-0"> {{ errMsg }}</p>
                </div>
            </div>
        }
    </section>
}


